.logout-btn {
  background-color: transparent;
  color: aliceblue;
  border: none;
  display: inline-block;
  padding: 13px 10px 13px 10px;
  font-size: 18px;
  text-decoration: none;
  color: #efefef;
}

.logout-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
